.cart {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 86vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  @media screen and (min-width: 900px) {
    display: flex;
    margin: 3rem;
    flex-direction: row;
    justify-content: unset;
  }
  &__list {
    background-color: white;
    padding: 1.5rem;
    @media screen and (min-width: 900px) {
      flex: 3;
      padding: 4rem 2rem 4rem 6rem;
      overflow-y: auto;
      max-height: 80vh;
    }
    &__label {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      h3 {
        font-weight: normal;
        font-size: 0.9rem;
      }
    }
    &__products {
      display: grid;
      margin-top: 3rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      p {
        font-weight: normal;
        font-size: 0.85rem;
      }
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
      }
    }
  }
  &__total {
    background-color: var(--color-filter);
    padding: 1.5rem;
    position: sticky;
    top: 0;
    @media screen and (min-width: 900px) {
      flex: 2;
      padding: 4rem 6rem 4rem 2rem;
      position: unset;
    }
  }
}
