.cart {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 86vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  @media screen and (min-width: 900px) {
    display: flex;
    margin: 3rem;
    flex-direction: row;
    justify-content: unset;
  }

  .go-home-cart {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
  }
  &__list {
    background-color: white;
    padding: 1.5rem;
    @media screen and (min-width: 900px) {
      flex: 3;
      padding: 4rem 2rem 4rem 6rem;
      overflow-y: auto;
      max-height: 80vh;
    }
    &__label {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      h3 {
        font-weight: normal;
        font-size: 0.9rem;
      }
    }
    &__products {
      display: grid;
      margin-top: 3rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      p {
        font-weight: normal;
        font-size: 0.85rem;
      }
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
      }
    }
  }
  &__total {
    background-color: var(--color-filter);
    padding: 1.5rem;
    position: sticky;
    top: 0;

    &::after {
      @media screen and (min-width: 900px) {
        content: "";
        position: absolute;
        height: 5px;
        top: 5.5rem;
        width: 70%;
        left: 2rem;
        background-color: var(--color-dark);
      }
    }
    @media screen and (min-width: 900px) {
      flex: 2;
      padding: 4rem 6rem 4rem 2rem;
      position: relative;
    }

    h2 {
      display: inline-block;
      font-weight: normal;
      font-size: 0.9rem;
      margin-top: 1rem;
      @media screen and (min-width: 900px) {
        margin-top: 5.5rem;
      }
    }
    span {
      margin-left: 1rem;
      font-size: 1.6rem;
    }
    p {
      opacity: 0.8;
      font-size: 0.6rem;
      text-transform: uppercase;
      margin-top: 0.5rem;
      @media screen and (min-width: 900px) {
        margin-top: 1rem;
      }
    }
    button {
      margin-top: 1.6rem;
      padding: 0.6rem 1.2rem;
      border-radius: 1.5rem;
      border: none;
      filter: invert(1);
      width: 130px;
      display: flex;
      justify-content: space-between;
      font-family: "Poppins", sans-serif;
      opacity: 0.9;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}
